body {
    font-family: sans-serif;
    padding: 0 20px;
    background-color: #82807c;
}

h1 {
    text-align: center;
    font-weight: 800;
    margin: 0;
    font-size: 40px;
    line-height: 52px;
}

h1, h2, h3 {
    color: #F1AC18;
}

.logo {
    display: block;
    margin: 30px auto;
    width: 150px;
}