h1 { color: #393e46;
    text-align: center;
    

}

p{ color: #5c636e;
   
}

img {
    height: 550px;
}

.state {
    background-color: #f96d00;
    font-size: 30px;
    color: #393e46;
    border-color: #393e46;
    border-radius: 15px;
    margin: 20px;
    cursor: pointer;
    transition: ease-in 250ms;

}