body {
    font-family: sans-serif;
    color: antiquewhite;
    background-color: #8e4dd8;
}

.comic {
    display: block;
    margin: 30px auto;
    width: 450px;
}

.center {
    display: block;
    text-align: center;
}