/* Use the following color pallete: https://palettes.shecodes.io/palettes/545 */

h1 {
    color: #004445;
    text-decoration: underline;
}

.instructions {
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: #2c786c;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}